@charset "UTF-8";
.calendarWrap {
  display: inline-block;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 4px; }
  .calendarWrap:hover {
    -webkit-box-shadow: 0 0 10px -2px #000;
    -moz-box-shadow: 0 0 10px -2px #000;
    box-shadow: 0 0 10px -2px #000; }
  .calendarWrap a {
    color: #108ee9;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .calendarWrap a:hover {
      text-decoration: none; }
  .calendarWrap .calendarTop {
    line-height: 2em;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 1px dashed #e9e9e9; }
    .calendarWrap .calendarTop label {
      text-align: center;
      font-weight: bold; }
    .calendarWrap .calendarTop .nextMon,
    .calendarWrap .calendarTop .nextYear,
    .calendarWrap .calendarTop .prevMon,
    .calendarWrap .calendarTop .prevYear {
      width: 12%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .calendarWrap .calendarTop .nextMon:hover,
      .calendarWrap .calendarTop .nextYear:hover,
      .calendarWrap .calendarTop .prevMon:hover,
      .calendarWrap .calendarTop .prevYear:hover {
        background: #108ee9;
        color: #ffffff;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }
    .calendarWrap .calendarTop .date {
      width: 50%;
      display: inline-block; }
  .calendarWrap .dayList {
    margin: 16px 0;
    border: 0 none;
    width: 100%;
    text-align: center; }
    .calendarWrap .dayList th {
      color: #747474; }
    .calendarWrap .dayList td {
      padding: 0.3em 0.8em;
      cursor: pointer;
      border-radius: 4px;
      text-align: right;
      color: #747474; }
      .calendarWrap .dayList td:hover {
        background: #00db6e;
        color: #ffffff;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }
    .calendarWrap .dayList .curMonFlag {
      color: #414141; }
    .calendarWrap .dayList .currentDay {
      background: #00a854;
      color: #ffffff; }
  .calendarWrap .timeWrap {
    text-align: right;
    line-height: 2em; }
    .calendarWrap .timeWrap .timeInput {
      width: 40px;
      border: none;
      border-bottom: 1px solid #bfbfbf;
      display: inline-block;
      text-align: center; }
    .calendarWrap .timeWrap .timeSubmit {
      padding: 0 8px; }
      .calendarWrap .timeWrap .timeSubmit:hover {
        background: #108ee9;
        color: #ffffff;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }

.validatorBottom {
  position: absolute;
  color: #f04134; }

.validatorStatus {
  position: absolute;
  padding: 6px 15px;
  background: #ffffff;
  border: 1px solid #f04134;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000; }
  .validatorStatus:after, .validatorStatus:before {
    position: absolute;
    width: 0;
    content: "";
    height: 0;
    left: 15px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: #f04134;
    z-index: 1; }
  .validatorStatus:after {
    top: -19px;
    border-bottom-color: #ffffff;
    z-index: 2; }

/*toolsBadge 徽标数或文字*/
.toolsBadge {
  position: relative; }
  .toolsBadge:before {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    background: #f04134;
    color: #ffffff;
    content: attr(data-toolsBadge);
    padding: 0 0.5em;
    height: 1.5em;
    line-height: 1.5;
    top: -.75em;
    right: -.75em;
    border-radius: 0.75em; }

/*toolsTip 小贴士 title替代品*/
.toolsTip {
  position: absolute;
  padding: 8px 16px;
  display: block;
  max-width: 100%;
  left: -999px;
  white-space: normal;
  background: #414141;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .toolsTip:before {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 100%;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #414141;
    z-index: 2; }

@charset "UTF-8";
blockquote,
body,
button,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0; }

body,
button,
input,
select,
textarea {
  font: 12px / 1.5 arial; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

address,
cite,
dfn,
em,
var {
  font-style: normal; }

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset,
img {
  border: 0; }

button,
input,
select,
textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

input {
  outline: 0 none; }

input:-ms-clear {
  display: none; }

input:-webkit-search-cancel-button {
  display: none; }

.link {
  display: inline-block;
  border: 0 none;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  color: #108ee9;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .link:hover {
    text-decoration: underline; }

.btn.btn-disabled, .btn.btn-disabled:hover, .btn.btn-disabled:focus {
  border-color: #bfbfbf;
  background-color: #fbfbfb;
  color: #e2e2e2;
  cursor: not-allowed; }

.btn {
  display: inline-block;
  padding: 0 16px;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  min-width: 80px;
  height: 32px;
  line-height: 30px;
  text-decoration: none;
  outline-style: none;
  border: 1px solid #bfbfbf;
  color: #5a5a5a;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:hover {
    color: #108ee9;
    border-color: #108ee9;
    text-decoration: none; }
  .btn:focus {
    color: #0d71b9;
    border-color: #0d71b9; }
  .btn.btn-primary {
    border-color: #108ee9;
    color: #ffffff;
    background-color: #108ee9; }
    .btn.btn-primary:hover {
      background-color: #3aa5f2;
      border-color: #3aa5f2; }
    .btn.btn-primary:focus {
      background-color: #0d71b9;
      border-color: #0d71b9;
      color: #ffffff; }
  .btn.btn-warning {
    border-color: #ffbf00;
    color: #5a5a5a;
    background-color: #ffbf00; }
    .btn.btn-warning:hover {
      background-color: #ffcc33;
      border-color: #ffcc33;
      color: #5a5a5a; }
    .btn.btn-warning:focus {
      background-color: #cc9900;
      border-color: #cc9900;
      color: #ffffff; }
  .btn.btn-danger {
    border-color: #f04134;
    color: #ffffff;
    background-color: #f04134; }
    .btn.btn-danger:hover {
      background-color: #f46d63;
      border-color: #f46d63; }
    .btn.btn-danger:focus {
      background-color: #e01f11;
      border-color: #e01f11;
      color: #ffffff; }
  .btn.btn-correct {
    border-color: #00a854;
    color: #ffffff;
    background-color: #00a854; }
    .btn.btn-correct:hover {
      background-color: #00db6e;
      border-color: #00db6e; }
    .btn.btn-correct:focus {
      background-color: #00753b;
      border-color: #00753b;
      color: #ffffff; }

.btn-group {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
  .btn-group .btn {
    border-left-width: 0;
    border-radius: 0;
    margin-left: 1px; }
    .btn-group .btn:first-child {
      border-left-width: 1px;
      border-radius: 4px 0 0 4px; }
    .btn-group .btn:last-child {
      border-radius: 0 4px 4px 0; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_339362_adwf3e0vyt4kj4i.eot");
  src: url("//at.alicdn.com/t/font_339362_adwf3e0vyt4kj4i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_339362_adwf3e0vyt4kj4i.woff") format("woff"), url("//at.alicdn.com/t/font_339362_adwf3e0vyt4kj4i.ttf") format("truetype"), url("//at.alicdn.com/t/font_339362_adwf3e0vyt4kj4i.svg#iconfont") format("svg"); }

*:after,
*:before {
  font-family: "iconfont" !important; }

.input {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  border: 0 none;
  font-size: 14px;
  height: 32px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .input > input {
    display: inline-block;
    padding: 4px 8px;
    height: 100%;
    width: 100%;
    border: 1px solid #bfbfbf;
    outline: none;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .input > input:hover {
      border-color: #108ee9; }
    .input > input:focus {
      border-color: #108ee9;
      -webkit-box-shadow: 0 0 3px #108ee9;
      -moz-box-shadow: 0 0 3px #108ee9;
      box-shadow: 0 0 3px #108ee9; }

input.input {
  padding: 4px 8px;
  border: 1px solid #bfbfbf; }
  input.input:hover {
    border-color: #108ee9; }
  input.input:focus {
    border-color: #108ee9;
    -webkit-box-shadow: 0 0 3px #108ee9;
    -moz-box-shadow: 0 0 3px #108ee9;
    box-shadow: 0 0 3px #108ee9; }

.input-error > input, .input-error.input {
  border-color: #f04134; }
  .input-error > input:hover, .input-error.input:hover {
    border-color: #f04134; }
  .input-error > input:focus, .input-error.input:focus {
    border-color: #f04134;
    -webkit-box-shadow: 0 0 3px #f04134;
    -moz-box-shadow: 0 0 3px #f04134;
    box-shadow: 0 0 3px #f04134; }

.feedback > input {
  padding-right: 24px; }

.feedback:after {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 14px;
  width: 24px;
  height: 30px;
  line-height: 30px; }

.feedback.input-info:after {
  content: "";
  color: #108ee9; }

.feedback.input-warning:after {
  content: "";
  color: #ffbf00; }

.feedback.input-error:after {
  content: "";
  color: #f04134; }

.feedback.input-incorrect:after {
  content: ""; }

.feedback.input-success:after {
  content: "";
  color: #00a854; }

.feedback.input-correct:after {
  content: "";
  color: #00a854; }

fieldset {
  border: 0 none;
  border-top: 1px solid #e9e9e9;
  margin-top: 24px; }
  fieldset legend {
    color: #5a5a5a; }

.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 0 none;
  cursor: pointer; }
  .switch:before {
    display: inline-block;
    content: attr(data-off);
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    padding: 0 9px 0 24px;
    color: #bfbfbf;
    border-radius: 11px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .switch:after {
    position: absolute;
    content: '';
    background: #bfbfbf;
    border: 0 none;
    top: 50%;
    left: 4.66667px;
    margin-top: -7.33333px;
    right: auto;
    width: 14.66667px;
    height: 14.66667px;
    border-radius: 14.66667px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.onswitch:before {
  content: attr(data-on);
  color: #ffffff;
  padding: 0 24px 0 9px;
  border-color: #00a854;
  background-color: #00a854; }

.onswitch:after {
  left: auto;
  right: 4.66667px;
  background: #ffffff; }

.select {
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .select .input > input {
    padding-right: 24px;
    cursor: pointer; }
  .select .input:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 50%;
    right: 7px;
    margin-top: -2.5px;
    border: 5px solid transparent;
    border-bottom: 0;
    border-top-color: #5a5a5a;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .select .options,
  .select dl {
    position: absolute;
    display: none;
    left: 0;
    top: 35px;
    width: 200px;
    padding: 8px 0;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: top 1s;
    transition: top 1s; }
    .select .options .option,
    .select .options dd,
    .select dl .option,
    .select dl dd {
      display: inline-block;
      padding: 0 8px;
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: #5a5a5a;
      font-size: 12px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .select .options .option:hover,
      .select .options dd:hover,
      .select dl .option:hover,
      .select dl dd:hover {
        background-color: #e6e6e6; }
      .select .options .option.current,
      .select .options dd.current,
      .select dl .option.current,
      .select dl dd.current {
        background-color: #00a854;
        color: #ffffff; }
  .select.selected .input:after {
    transform: rotate(360deg);
    border-top: 0;
    border-bottom: 5px solid #5a5a5a; }
  .select.selected .options,
  .select.selected dl {
    display: inline-block; }

input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden; }

.checkboxs.some:before {
  content: '';
  background-color: #ffffff;
  border-color: #108ee9;
  border-width: 7px 3.5px; }

.checkboxs.some.disabled:before {
  background-color: #ffffff; }

.checkboxs.all:before {
  content: '\e60d';
  color: #ffffff;
  border-color: #108ee9;
  background-color: #108ee9; }

.checkbox, .checkboxs {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 16px 0 24px;
  cursor: pointer; }
  .checkbox:before, .checkboxs:before {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .checkbox:hover:before, .checkboxs:hover:before {
    border-color: #108ee9; }
  .checkbox.checked:before, .checked.checkboxs:before {
    content: '\e60d';
    color: #ffffff;
    border-color: #108ee9;
    background-color: #108ee9; }
  .checkbox.disabled, .disabled.checkboxs {
    cursor: not-allowed;
    color: #747474; }
    .checkbox.disabled:before, .disabled.checkboxs:before {
      border-color: #e2e2e2;
      background-color: #e2e2e2; }

.fd-msgs {
  position: absolute;
  height: 0;
  top: 16px;
  left: 0;
  right: 0; }
  .fd-msgs .fd-msg {
    display: block;
    margin-bottom: 44px;
    height: 0;
    pointer-events: none;
    text-align: center; }
    .fd-msgs .fd-msg .fd-msg-content {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background: #ffffff;
      font-size: 12px;
      padding: 8px 16px 8px 36px;
      border: 1px solid #bfbfbf;
      white-space: nowrap;
      pointer-events: all;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 3px #bfbfbf;
      -moz-box-shadow: 0 0 3px #bfbfbf;
      box-shadow: 0 0 3px #bfbfbf; }
      .fd-msgs .fd-msg .fd-msg-content:before {
        position: absolute;
        content: '\e73e';
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        color: #108ee9;
        left: 16px; }
      .fd-msgs .fd-msg .fd-msg-content[type=info]:before {
        content: "";
        color: #108ee9; }
      .fd-msgs .fd-msg .fd-msg-content[type=warning]:before {
        content: "";
        color: #ffbf00; }
      .fd-msgs .fd-msg .fd-msg-content[type=error]:before {
        content: "";
        color: #f04134; }
      .fd-msgs .fd-msg .fd-msg-content[type=incorrect]:before {
        content: ""; }
      .fd-msgs .fd-msg .fd-msg-content[type=success]:before {
        content: "";
        color: #00a854; }
      .fd-msgs .fd-msg .fd-msg-content[type=correct]:before {
        content: "";
        color: #00a854; }

@keyframes show-up {
  from {
    transform: translateY(30px);
    opacity: 0; }
  to {
    transform: translateY( 0);
    opacity: 1; } }

.anim-show-up {
  animation: show-up 0.3s ease-in-out; }

@keyframes hide-up {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY( -30px);
    opacity: 0; } }

.anim-hide-up {
  animation: hide-up 0.3s ease-in-out; }

@keyframes show-down {
  from {
    transform: translateY(-30px);
    opacity: 0; }
  to {
    transform: translateY( 0);
    opacity: 1; } }

.anim-show-down {
  animation: show-down 0.3s ease-in-out; }

@keyframes hide-down {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY( 30px);
    opacity: 0; } }

.anim-hide-down {
  animation: hide-down 0.3s ease-in-out; }

@keyframes show-press {
  from {
    transform: scale(3);
    opacity: 0; }
  to {
    transform: scale( 1);
    opacity: 1; } }

.anim-show-press {
  animation: show-press 0.3s ease-in-out; }

@keyframes hide-press {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale( 0);
    opacity: 0; } }

.anim-hide-press {
  animation: hide-press 0.3s ease-in-out; }

@keyframes show-pressY {
  from {
    transform: scaleY(3);
    opacity: 0; }
  to {
    transform: scaleY( 1);
    opacity: 1; } }

.anim-show-pressY {
  animation: show-pressY 0.3s ease-in-out; }

@keyframes hide-pressY {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY( 0);
    opacity: 0; } }

.anim-hide-pressY {
  animation: hide-pressY 0.3s ease-in-out; }

@keyframes show-pressX {
  from {
    transform: scaleX(3);
    opacity: 0; }
  to {
    transform: scaleX( 1);
    opacity: 1; } }

.anim-show-pressX {
  animation: show-pressX 0.3s ease-in-out; }

@keyframes hide-pressX {
  from {
    transform: scaleX(1);
    opacity: 1; }
  to {
    transform: scaleX( 0);
    opacity: 0; } }

.anim-hide-pressX {
  animation: hide-pressX 0.3s ease-in-out; }

@keyframes show-scale {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale( 1);
    opacity: 1; } }

.anim-show-scale {
  animation: show-scale 0.3s ease-in-out; }

@keyframes hide-scale {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale( 3);
    opacity: 0; } }

.anim-hide-scale {
  animation: hide-scale 0.3s ease-in-out; }

@keyframes show-scaleY {
  from {
    transform: scaleY(0);
    opacity: 0; }
  to {
    transform: scaleY( 1);
    opacity: 1; } }

.anim-show-scaleY, .select.selected .options,
.select.selected dl {
  animation: show-scaleY 0.3s ease-in-out; }

@keyframes hide-scaleY {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY( 3);
    opacity: 0; } }

.anim-hide-scaleY {
  animation: hide-scaleY 0.3s ease-in-out; }

@keyframes show-scaleX {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX( 1);
    opacity: 1; } }

.anim-show-scaleX {
  animation: show-scaleX 0.3s ease-in-out; }

@keyframes hide-scaleX {
  from {
    transform: scaleX(1);
    opacity: 1; }
  to {
    transform: scaleX( 3);
    opacity: 0; } }

.anim-hide-scaleX {
  animation: hide-scaleX 0.3s ease-in-out; }
